:root{
    --neutral: #EAE7DC;
    --tan: #D8C3A5;
    --grey: #8E8D8A;
    --rose: #E98074;
    --bright: #E85A4F;
}

*{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}

/*reusable*/

.line-deco {
    text-decoration-line: overline;
    text-decoration-color: var(--bright);
    text-decoration-thickness: 1px;
}

.hidden {
    opacity: 0;
}

.full-width {
    width: 100%;
}

.neutral--color {
    background-color: #f2f0ea;
}

.grey--color {
    background-color: #e4e4e4;
}

.sticky {
    position: fixed;
    z-index: 200;
}

.column-align-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/**********/



.container {
    justify-content: center;
}

.section-container {
    justify-content: center;
}

.section-container--neutral {
    background-color: rgb(234, 231, 220, 0.6);
    background-position: center;
}

.section-container--grey {
    background-color: rgb(211,211,211, 0.6);
}

.intro {
    margin: 0;
    height: 900px;
    background-color: #f2f0ea;
    background-image: url("/src/img/full-background.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;

}

.nav {
    display: flex;
    align-items: center;
    border-bottom: 4px solid var(--bright);
    width: 100%;
    background-color: #f2f0ea;
    height: 60px;
}

.nav.sticky {
    background-color: #f2f0ea;
}

.nav__links-list {
    display: flex;
    width: 75%;
    justify-content: flex-end;
    list-style: none;
}

.nav__links-list li {
    margin: 10px 25px 0 15px;
    cursor: pointer;
}

.nav__link {
    text-decoration: none;
    color: black;
}

.header {
    width: 75%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__text {
    margin-bottom: 80px;
}

.header__text p {
    color: var(--bright);
}

.header__text h1 {
    color: black;
    font-size: 300%;
    margin-top: -85px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("/src/img/header-top-half.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.links-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.links-container__link {
    margin-top: 30px;
    width: 25%;
}

.links-container__link--title {
    color: black;
}

.links-container__link a {
    text-decoration: none;
    width: 80%;
    padding-right: 6px;
    font-weight: 600;
    transition: transform 1s, opacity 1s;
}

.links-container__desc {
    width: 80%;
    padding: 0 15px 3px 3px;
    transition-duration: 1s;
    color: var(--bright);
}

.nonsense {
    color: var(--grey);
    width: 80%;
    padding: 0 15px 3px 3px;
}

.link-section{
    margin: 0;
    width: 75%;
}

.link-section__title {
    padding-top: 75px;
    height: 100px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/src/img/header-bottom-half-white.svg");
    background-position: top;
    background-repeat: no-repeat;
}

.no-background--img {
    background-image: none;
}

.link-section__title h2 {
    width: 75%;
}

.project-container {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    transition: transform 1s, opacity 1s;
}

.project-container--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.project-container__desc {
    background-position-x: center;
    /*min-height: 300px;*/
    width: 300px;
}

.project-container__desc h1 {
    padding-top: 20px;
}

.project-container__desc h5 {
    color: var(--grey);
}

.project-desc,
.project-info {
    margin-bottom: 10px;
}

.project-info,
.project-links {
    margin-top: 10px;
}

.project-links {
    padding: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px -2px var(--bright);
}

.project-links a {
    text-decoration: none;
    color: var(--bright);
}

.project-links a:last-child {
    margin-left: 20%;
}

.project-links a:first-child {
    margin-left: 0;
}

.slider__container {
    width: 800px;
    /*height: 400px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow__container {
    width: 800px;
    position: absolute;
    z-index: 199;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow__container .arrow-btn:first-child {
    padding-left: 50px;
}

.arrow__container .arrow-btn:last-child {
    padding-right: 50px;
}

.arrow__btn {
    border: none;
    background: none;
    cursor: pointer;
}

.arrow-icon {
    font-size: 250%;
    color: var(--rose);
}


.img__container {
    overflow: hidden;
    position: relative;
    width: 800px;
    display: flex;
    flex-direction: row;
}

.slide {
    transition: transform .5s;
}


.slide-1 {
    position: relative;
}

.slide-under {
    position: absolute;
}

.section__nav {
    padding: 20px 0;
}

.section__nav-icon {
    margin-right: 10px;
    color: var(--bright);
}

.section__about--intro {
    color: var(--bright);
}

.resume-link {
    text-decoration: none;
}

.contact-form {
    margin-bottom: 100px;
}

.contact-form__group {
    margin: 15px 0;
}

.contact-form__label {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    color: var(--bright);
}

.contact-form__input,
.contact-form__textarea {
    width: 300px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px var(--grey);
    outline: var(--bright);
    background-color: #e4e4e4;
    padding-left: 4px;
}

.contact-form__input {
    height: 30px;
}

.contact-form__input:focus,
.contact-form__textarea:focus {
    background-color: white;
}

.contact-form__submit {
    border: none;
    padding: 3px 15px;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px var(--grey);
    background-color: var(--bright);
    cursor: pointer;
    margin-left: 120px;
    color: white;
}

.recaptcha {
    margin-bottom: 10px;
    margin-left: 120px;
}

/*small phones to small tablets (500-750px)*/
@media only screen and (max-width:750px){
    
    .no-hidden--small {
        opacity: 1;
    }

    .intro {
        background-image: url("/src/img/full-background-sm.svg");
        width: 100%;
    }

    .nav__links-list {
        display: flex;
        width: 100%;
        justify-content: center;
        list-style: none;
    }

    .main {
        background-image: url("/src/img/header-top-half-sm.svg");
    }

    .links-container {
        flex-direction: column;
        margin: 75px 10% 20px 0;
    }

    .links-container__link {
        width: 95%;
        margin-bottom: 30px;
    }

    .header {
        width: 100%;
        height: 300px;
    }

    .header__text {
        margin-left: 5%;
        margin-top: 400px;
    }

    .link-section {
        width: 100%;
    }

    .link-section__title {
        background-image: url("/src/img/header-bottom-half-white-sm.svg");
        background-position: top;
        background-repeat: no-repeat;
        justify-content: flex-start;
        padding-left: 20%;
    }

    .no-background--img {
        background-image: none;
    }    

    .project-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-container__desc {
        z-index: 99;
    }

    .slider__container,
    .img__container,
    .arrow__container {
        width: 500px;
    }

    .img__container .slide {
        width:450px;
    }

    .section__nav {
        width: 90%;
    }

    .img__container {
        height: 250px;
        align-items: center;
        justify-content: center;
    }

    .slider__container {
        flex-direction: column;
        height: 500px;
        align-items: flex-start;
    }

    .arrow__container {
        position: relative;
        justify-content: center;
    }

    .arrow-icon {
        margin: 10px;
    }

    .recaptcha {
        margin-left: 0;
    }
}